@model UserVM

<form method="post">
	<div class="row justify-content-center">
		<div class="col-6 m-3 bg-gradient">
			<h4 class="text-center m-3">
				Change Role
			</h4>
			<input asp-for="User.Id" hidden />
			<div class="mb-3 pb-0 p-3 ">
				<select asp-for="User.Role" asp-items="@Model.UserRoles" class=" form-select">
					<option disabled selected>--Select role--</option>
				</select>
				<label asp-for="User.Role" class="ms-2" />
			</div>
			<div class="mb-3 p-3">
				<select asp-for="User.CompanyId" asp-items="@Model.Companies" class="form-select text-white" style="display:none"><option selected disabled>--Select Company--</option></select>
			</div>
			<button type="submit" class="w-100 btn btn-lg btn-primary mb-2">Assign Role</button>
		</div>
	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script>
		$(document).ready(function () {
			$(document).on('change', '#User_Role', function () {
				var selectedOption = $('#User_Role option:selected').text();
				console.log('Selected option: ' + selectedOption);
				if (selectedOption == "Company") {
					$('#User_CompanyId').show();
				} else {
					$('#User_CompanyId').hide();
				}
			})
		})
	</script>
}